.fancy-fi {
    display: block;
    width: 100%;
}

.fancy-fi-height {
    height: 36px;
}

.fancy-fi-clear {
    position: absolute;
    right: 7px;
    top: 0;
    bottom: 0;
    height: 19px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
}

.fancy-fi-select-clear {
    display: inline-block;
    font-size: 18px;
    line-height: 1;
    color: #999;
    cursor: pointer;
    display: table-cell;
    position: relative;
    text-align: center;
}

.fancy-fi-select-clear:hover {
    color: #D0021B;
}

.fancy-fi-clear-pad {
    padding-right: 22px;
}

.fancy-fi-back-red {
    background-color: rgba(236, 84, 78, 0.05);
}

.fancy-fi-has-error {
    border: 1px solid #d9534f
}

