.fancy-dms-btn {
    color: #333;
    line-height: 2.286em;
    /*display: inline-block;*/
    margin: 0;
    text-align: center;
    vertical-align: middle;
    background: none;
    border: 1px solid transparent;
    padding: 0;
    white-space: nowrap
}

.fancy-dms-widget {
    padding: 7px;
}

.fancy-dms-now {
    font-weight: 600
}

.fancy-dms-state-focus {
    background-color: #fff;
    border: #66afe9 1px solid;
    color: #333
}

.fancy-dms-state-selected {
    background-color: #adadad;
    border: #adadad 1px solid;
    color: #333
}

.fancy-dms-state-disabled {
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor: not-allowed;
    opacity: 1
}

.fancy-dms-btn {
    cursor: pointer
}

.fancy-dms-btn[disabled], .fancy-dms-state-disabled .fancy-dms-btn, .fancy-dms-state-readonly .fancy-dms-btn {
    -webkit-box-shadow: none;
    box-shadow: none;
    pointer-events: none;
    cursor: not-allowed;
    filter: alpha(opacity=65);
    opacity: .65
}

.fancy-dms-calendar {
    background-color: #fff
}

.fancy-dms-calendar thead > tr {
    border-bottom: 2px solid #ccc
}

.fancy-dms-calendar .fancy-dms-header {
    padding-bottom: 5px
}

.fancy-dms-calendar .fancy-dms-header .fancy-dms-btn-left, .fancy-dms-calendar .fancy-dms-header .fancy-dms-btn-right {
    width: 12.5%
}

.fancy-dms-calendar .fancy-dms-header .fancy-dms-btn-view {
    width: 75%;
    background-color: #eee;
    border-radius: 4px
}

.fancy-dms-calendar .fancy-dms-header .fancy-dms-btn-view[disabled] {
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor: not-allowed
}

.fancy-dms-calendar .fancy-dms-footer {
    border-top: 1px solid #ccc
}

.fancy-dms-calendar .fancy-dms-footer .fancy-dms-btn {
    width: 100%;
    white-space: normal
}

.fancy-dms-calendar .fancy-dms-footer .fancy-dms-btn:hover {
    background-color: #e6e6e6
}

.fancy-dms-calendar .fancy-dms-footer .fancy-dms-btn[disabled] {
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor: not-allowed
}

.fancy-dms-calendar-grid {
    outline: none;
    height: 14.28571429em;
    table-layout: fixed;
    width: 100%
}

.fancy-dms-calendar-grid th {
    text-align: right;
    padding: 0 .4em 0 .1em
}

.fancy-dms-calendar-grid .fancy-dms-btn {
    width: 100%;
    text-align: right
}

.fancy-dms-calendar-grid td .fancy-dms-btn {
    border-radius: 4px;
    padding: 0 .4em 0 .1em;
    outline: 0
}

.fancy-dms-calendar-grid td .fancy-dms-btn:hover {
    background-color: #e6e6e6
}

.fancy-dms-calendar-grid td .fancy-dms-btn.fancy-dms-off-range {
    color: #b3b3b3
}

.fancy-dms-calendar-grid.fancy-dms-nav-view .fancy-dms-btn {
    padding: .25em 0 .3em;
    display: block;
    overflow: hidden;
    text-align: center;
    white-space: normal
}
