
.mt0 {
    margin-top: 0;
}

.mt8 {
    margin-top: 8px;
}

.mb5 {
    margin-bottom: 5px;
}

.mb10 {
    margin-bottom: 10px;
}

.m23t {
    margin-top: 23px;
}

.m8t {
    margin-top: 8px;
}

.p3lr {
    padding-left: 3px;
    padding-right: 3px;
}

.p5t {
    padding-top: 5px;
}

.w150 {
    width: 150px;
}